.rake_test_cache
.DS_Store
*~
*#
.#*
\#*#
*.iml
*.ipr
*.iws
*.un~
.*.sw[a-z]
.rakeTasks
.chef/*.pem
.chef/encrypted_data_bag_secret
/cookbooks
/certificates
/tmp
/scratch
.vagrant
Berksfile.lock
.kitchen/
.kitchen.local.yml

# Bundler
Gemfile.lock
#bin/*
.bundle/*
vendor/
